<section class="footer container-fluid">
    <div class="row justify-content-center">
        <div class="text-center w-75 mt-5 mb-1 mb-md-0">
            <h2 class="mb-3">join our list</h2>
            <p class="lead mb-4">sign up for our mailing list for updates, specials, & stories from the origin team.</p>
        </div>
    </div>
    <form class="row justify-content-center mb-5">
        <div class="email">
            <input type="email" class="form-control" aria-describedby="email" placeholder="email address">
        </div>
        <button type="button" class="button btn btn-light btn-sm">SIGN UP</button>
    </form>
    <div class="container w-75">
        <hr>
    </div>
    <div class="row justify-content-center">
        <a href="#" class="mail"><i class="far fa-envelope"></i> hello@origin.fr</a>
    </div>
    <div class="row justify-content-center">
        <div class="mb-5">
            <a href="#" class="icons ml-1 mr-0"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icons ml-1 mr-0"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icons ml-1 mr-1"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<!--    jquery, popper, bootstrap js-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/styles.js"></script>

</body>
</html>