<%- include("./partials/header") %>

<section id="about">
</section>

<div class="container w-75 pt-5">
    <div class="text-center">
        <h2 class="our-origin">our origin / lái yuán /: 来源</h2>
        <hr>
    </div>
</div>

<section class="story container-fluid w-75 p-3">
    <div class="row justify-content-center">
        <div class="text-center mt-2 mb-1 mb-md-0">
            <h2 class="mb-3">singapore . hong kong</h2>
            <h2 class="mb-4">paris . </h2>
            <p class="lead px-5 mb-5">
                growing up in the food capitals of the east, origin grew out of a hunger for our childhood staples: simple chinese food made with healthy, seasonal ingredients. in recreating the taste of home, we hope to use the power of food to connect more individuals and communities to food, culture, and beyond.
                we hope to inspire a new wave of authentic chinese cuisine in paris, and to make flavorful and nourishing everyday chinese food accessible to the many.
            </p>
        </div>
    </div>
</section>

<%- include("./partials/footer") %>