<%- include("./partials/header") %>

<section class="container-fluid px-0">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div id="heading" class="text-center d-none d-lg-block">
        <h2 class="text-center">origin /</h2>
        <h2 class="text-center">源</h2>
        <h2 class="text-center">/ yuán</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1508900138639-8d3ff3f49d78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt>
    </div>
  </div>
</section>

<section class="container-fluid px-0">
  <div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1546069901-d5bfd2cbfb1f?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
          <h2>source / běn yuán /: 本源</h2>
          <p class="lead">at origin, we care about where our ingredients come from. all our bowls are made from carefully-sourced premium and natural ingredients. we bring in fresh produce every week, so that means our leaves stay green and our fruits are just ripe.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center content">
    <div class="col-md-6 text-center">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
          <h2>taste / yuán wèi /: 原味</h2>
          <p class="lead">following our chinese culinary heritage, we hope to bring out the natural flavors in all our ingredients. we make our sauces in-house, and use only natural herbs and spices to complement our ingredients. our ingredients-first and vegetable-forward approach means that all food prepared at origin retains its authentic taste and flavors.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1547496502-affa22d38842?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=884&q=80" alt="">
    </div>
  </div>

  <div class="row align-items-center content">
    <div class="col-md-6 order-2 order-md-1">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1543788527-ca7e52de3228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="">
    </div>
    <div class="col-md-6 text-center order-1 order-md-2">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
          <h2>principle / yuán zé /: 原则</h2>
          <p class="lead">we believe that good chinese food should be nourishing, inspiring and accessible to everyone. nothing is more important than a healthy lifestyle, and we promote that strongly through our food. we work to balance our carbs with greens, and offer healthier alternatives such as cauliflower rice and buckwheat soba noodles.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid w-75">
  <div class="text-center">
    <h2 class="pb-5"><a ontouchstart="" style="-webkit-tap-highlight-color:rgba(0,0,0,0);" class="btn read-more" href="/home" role="button">our restaurant</a></h2>
  </div>
</section>

<%- include("./partials/footer") %>

